* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
     font-family: "Stack Sans Text", sans-serif;
    background: #6caef0;
    background: radial-gradient(circle,rgba(108, 174, 240, 1) 0%, rgba(22, 24, 51, 1) 100%);

    /* Clave para que el fondo ocupe todo */
    min-height: 100vh;
}
.contenedor{
   
    width: 90%;
    margin: auto;
    margin-top:20px;
    max-width: 700px;
    padding:40px 30px; 
    
       background: linear-gradient(
        135deg,
        rgba(255,255,255,0.7),
        rgba(210,210,255,0.4)
    );
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

    .bio {
        text-align: center;
        .foto {
            width: 300px;
        }
        .nombre {
            font-size: 22px;
            margin-bottom: 10px;
        }
    }

    .descripcion {
        font-size: 18px;
        margin-bottom:40px;
        &.dos {
            font-style: italic;
            font-size: 15px;
        }
    }

    .links {
          .link {
        color: rgb(3, 3, 51);
        border: 3px solid rgb(3, 3, 51);
        border-radius: 10px;
        text-align: center;
        display: block;
        margin-bottom: 20px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        padding: 15px;
        transition: 0.2s ease all;
        box-shadow: 
        1px 1px 0px 0px rgb(3, 3, 51),
        2px 2px 0px 0px rgb(3, 3, 51),
        3px 3px 0px 0px rgb(3, 3, 51),
        4px 4px 0px 0px rgb(3, 3, 51),
        5px 5px 0px 0px rgb(3, 3, 51);
        transform: translate(-5px,-5px);

        &:hover{
            color:white;
            background: rgb(9, 0, 43);
             box-shadow: 0px 0px 0px 0px white;
              transform: translate(0px,0px);

        }

       
    }
}
