* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
     font-family: "Stack Sans Headline", sans-serif;
      background:  #040036;
background: radial-gradient(circle, rgba(108, 174, 240, 1) 0%, rgba(22, 24, 51, 1) 100%);
     /* Clave para que el fondo ocupe todo */
     min-height: 100vh;
}
.contenedor{
   
    width: 90%;
    margin: auto;
    margin-top:20px;
    max-width: 680px;
    padding:40px 30px; 
    background: linear-gradient( 135deg, rgba(255,255,255,0.7), rgba(210,210,255,0.4));
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

    .bio {
        text-align: center;
        .foto {
            width: 300px;
        }
        .nombre {
            font-size: 22px;
            margin-bottom: 15px;
        }
    }

    .descripcion {
        font-size: 15px;
        margin-bottom:20px;
        &.dos {
            color:#040036
            font-size: 14px;
            margin-bottom:30px;
        }
    }

    .links {
          .link {
        color: #040036;
        border: 3px solid  #040036;
        border-radius: 10px;
        text-align: center;
        display: block;
        margin-bottom: 20px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        padding: 15px;
        transition: 0.2s ease all;
        box-shadow: 
        1px 1px 0px 0px  #040036,
        2px 2px 0px 0px  #040036,
        3px 3px 0px 0px  #040036,
        4px 4px 0px 0px  #040036,
        5px 5px 0px 0px  #040036;
        transform: translate(-5px,-5px);

        &:hover{
            color:white;
            background:  #040036;
             box-shadow: 0px 0px 0px 0px white;
              transform: translate(0px,0px);

        }

       
    }
}
